PIPR_CODE_HOST=gitlab
PIPR_REPOSITORY=group/project
PIPR_WORKSPACE=/srv/pipr/repository
PIPR_STATE_DIR=/srv/pipr/state
PIPR_BIND_ADDRESS=127.0.0.1
PIPR_PORT=8787
PIPR_CONFIG_DIR=.pipr
PIPR_ENV_FILE=.env

PIPR_WEBHOOK_SECRET=
DEEPSEEK_API_KEY=

GITLAB_TOKEN=

AZURE_DEVOPS_ORGANIZATION=
AZURE_DEVOPS_PROJECT=
AZURE_DEVOPS_BEARER_TOKEN=
AZURE_DEVOPS_TOKEN=
PIPR_AZURE_SUBSCRIPTION_ID=

BITBUCKET_WORKSPACE=
BITBUCKET_REPO_SLUG=
BITBUCKET_EMAIL=
BITBUCKET_API_TOKEN=
BITBUCKET_PERMISSION_EMAIL=
BITBUCKET_PERMISSION_API_TOKEN=
